html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    
}

button {
    border: none;
    background-color: unset;
}

ul, li {
    list-style: none;
}

ul {
    display: unset;
    list-style-type: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
}

h1 {
    display: unset;
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
}

p {
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
}

a {
    text-decoration: none;
}

input {
    padding: unset;
    -webkit-writing-mode: unset;
    text-rendering: unset;
    color: unset;
    letter-spacing: unset;
    word-spacing: unset;
    text-transform: unset;
    text-indent: unset;
    text-shadow: unset;
    display: unset;
    text-align: unset;
    appearance: unset;
    background-color: unset;
    -webkit-rtl-ordering: unset;
    cursor: unset;
    margin: unset;
    font: unset;
    padding: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

input:focus-visible {
    outline: unset;
    outline-offset: unset;
}

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #e4e4e4;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(rgba(208,54,138,0.3), rgba(112,138,212,0.3));
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }