html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

button {
    border: none;
    background-color: unset;
}

ul, li {
    list-style: none;
}

