html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

button {
    border: none;
    background-color: unset;
}

ul, li {
    list-style: none;
}

ul {
    display: unset;
    list-style-type: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
}

h1 {
    display: unset;
    font-size: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
}
