@media (max-width: 500px) {

    .top-menu {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-search-container {
        margin-right: unset;
        width: 320 px;
        margin: 16px;
    }

    .button-search{
        width: 245px;
    }

    .buttons-list {
        display: none;
    }

    .brands-list {
        flex-direction: column ;
        gap: 76px;
    }

    .link-section-buttons {
        flex-direction: column ;
    }

    .title-pag-one-text {
        font-size: 40px ;
    }

    .link-section-title h1 {
        font-size: 28px ;
        line-height: normal;
        text-align: center;
    }

    .link-section-title p {
        font-size: 18px ;
    }

    .link-section {
        width: calc(100%-50px) ;
        height: fit-content ;
        padding: 75px 40px;
        
    }

    .escolinha-dudu{
        flex-direction: column;
        
    }

    .link-button {
        width: 320px;
        height: 100px;
    }

    .background-filter-skew {
        transform: skewY(-22deg);
        height: 75%;
        margin-top: -14%;
    }

    .title-pag-one{
        gap: 87px;
    }

}
