.main-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.link-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 479px;
}

.link-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-section-title h1 {
    font-weight: 800;
    font-size: 48px !important;
    line-height: 64px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.link-section-title p{
    font-size: 18px;
    line-height: 32px;
    padding: 8px;
    color: #18191F;
}

.link-section-buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 75px  ;
}

.link-button {
    height: 100px;
    padding: 0px 35px;
    background: #F4F5F7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #18191F;
    font-size: 28px;
    font-feature-settings: 'salt' on, 'liga' off;
}

.link-button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), #F4F5F7;
}

.link-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #F4F5F7;
}

.link-section.cyan-section {
    background-color: #DEFBFD;
}

.link-button.white-button {
    background: #FFFFFF;
}

.link-button.white-button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), #FFFFFF;
}

.link-button.white-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #FFFFFF;
}
