html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-content_wrapper {
    margin-top: -5.5%;
    transform: skewY(-6deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px none;
    width: 100%;
    height: 100%;
}

.main-content_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -5.5%;
    transform: skewY(-6deg);
    background-color: rgba(242, 247, 255, 0.7);
    backdrop-filter: blur(100px);
    z-index: 1;
}

.main-content_circles::after {
    content: '';
    position: absolute;
    left: 75.49%;
    right: -3.68%;
    top: -4.92%;
    bottom: 50.92%;
    background: #8C30F5;
    opacity: 0.6;
    border-radius: 1000px;
}

.main-content_circles::before {
    content: '';
    position: absolute;
    left: 48.54%;
    right: 39.79%;
    top: 56.38%;
    bottom: 21.28%;
    background: #2EC5CE;
    opacity: 0.6;
    border-radius: 1000px;
}